<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SaludOcupacional.Properties.Settings.MOTAConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\ORIALIZ\Desktop\proyectoDA\proyectoDA\ProctoSaludOcupacional\ProctoSaludOcupacional\MOTA.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>